{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<link rel="stylesheet" href="{{ asset('bundles/nmuser/css/bootstrap.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/nmuser/css/bootstrap-theme.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/nmuser/css/my_style.css') }}" type="text/css" media="all" />
<div class="container">

	<div class="jumbotron">
		<h1 class="titre">Bienvenue dans Trello_Like</h1>
		<h2 class="titre">Veuillez vous connectez pour gerer vos projets ou cliquer <a href="register">ici pour vous inscrire </a>!!</h2>
	</div>
	
	{% if error %}
	<div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		<div class="group">
			<label for="username" class="form-control">Login</label>
			<input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
		</div>

		<div class="form-grou">
			<label for="password" class="form-control">Password</label>
			<input type="password" class="form-control" id="password" name="_password" required="required" />
		</div>

		<div class="form-group">
			<div class="checkbox">
				<label class="form-control">
					<input type="checkbox"  id="remember_me" name="_remember_me" value="on">Se souvenir de moi
				</label>
			</div>
		</div>

		<div class="form-group">
			<input type="submit" id="_submit" class="btn btn-lg btn-primary form-control" name="_submit" value="Connexion" />
		</div>
	</form>
</div>
{% endblock fos_user_content %}
