{% extends '::base.html.twig' %}

{% block body -%}
<link rel="stylesheet" href="{{ asset('bundles/nmuser/css/bootstrap.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/nmuser/css/bootstrap-theme.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/nmuser/css/my_style.css') }}" type="text/css" media="all" />
<div class="container">
    <div class="jumbotron">
        <h1>Voici la liste de vos taches !!</h1>
    </div>
    <div class="form-group">
        <a href="../projets" class="titre form-control">Aller vers la liste des projets !!</a>
    </div>

    <div class="form-group">
        <a href="../logout" class="titre form-control">Deconnexion</a>
    </div>
    
    <div class="form-group">
        <a href="{{ path('taches_new') }}" class="titre form-control">Creer une nouvelle tache</a>
    </div>
    {% for entity in entities %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="{{ path('taches_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></h3>
        </div>
        <div class="panel-body">
            DeadLine le : {% if entity.dateLimite %}{{ entity.dateLimite|date('d-m-Y H:i:s') }}{% endif %}
        </div>
        <div class="panel-body">
            La description de la tache : {{ entity.description }}
        </div>
        <div class="panel-body">
            Le checklist : {{ entity.cheklist }}
        </div>
        <div class="panel-body">
            Les etiquettes : {{ entity.etiquette }}
        </div>
        <div class="panel-body">
            <a href="{{ path('taches_edit', { 'id': entity.id }) }}">Editer la tache</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
