{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}

<div>
<link rel="stylesheet" href="{{ asset('bundles/nmuser/css/main.css') }}" type="text/css" media="all" />
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
     
    {{ form_errors(form) }}
     
    <td>{{ form_errors(form.username)}}</td>
    <td>{{ form_label(form.username, 'Login')}}</td>
    <td>{{ form_widget(form.username, { 'attr': {'class': 'input', 'placeholder' : 'Nom'} }) }}</td>

    <td>{{ form_errors(form.email) }}</td>
    <td>{{ form_label(form.email, 'Email') }}</td>
    <td>{{ form_widget(form.email, { 'attr': {'class': 'input', 'placeholder' : 'Adresse email'} }) }}</td>

    <td>{{ form_errors(form.plainPassword.first) }}</td>
    <td>{{ form_label(form.plainPassword.first, 'Mot de passe') }}</td>
    <td>{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'input', 'placeholder' : '....'} }) }}</td>

    <td>{{ form_errors(form.plainPassword.second) }}</td>
    <td>{{ form_label(form.plainPassword.second, 'Confirmez mot de passe') }}</td>
    <td>{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'input', 'placeholder' : '....'} }) }}</td>


    {{ form_rest(form) }}

<input class="button button-green" type="submit" value="{{ 'Inscription'|trans({}, 'FOSUserBundle') }}" />
</form>
</div> 
{% endblock fos_user_content %}


