{% extends '::base.html.twig' %}

{% block body -%}
<link rel="stylesheet" href="{{ asset('bundles/nmuser/css/bootstrap.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/nmuser/css/bootstrap-theme.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/nmuser/css/my_style.css') }}" type="text/css" media="all" />
<div class="container">
    <div class="jumbotron">
        <h1 class="titre">Voici la liste de vos projet !!</h1>
    </div>

    <div class="form-group">
        <a href="../taches" class="titre form-control">Vers la liste des taches</a>
    </div>

    <div class="form-group">
        <a href="../logout" class="titre form-control">Deconnexion</a>
    </div>

    <div class="form-group">
        <a href="{{ path('projets_new') }}" class="form-control titre">Creer un nouveau projet</a>
    </div>
    
    {% for entity in entities %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="{{ path('projets_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></h3>
        </div>
        <div class="panel-body">
            Crée le : {% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}
        </div>
        <div class="panel-body">
            Les membres du projet : {{ entity.membre }}
        </div>
        <div class="panel-body">
            <a href="{{ path('projets_edit', { 'id': entity.id }) }}">Editer le projet</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
