<link rel="stylesheet" href="{{ asset('bundles/nmuser/css/bootstrap.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/nmuser/css/bootstrap-theme.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/nmuser/css/my_style.css') }}" type="text/css" media="all" />
<div class="fos_user_user_show container">
	<div class="form-group">
		<label class="form-control">Votre Login :</label>
		<p>{{ user.username }}</p>
	</div>
	<div class="form-group">
		<label class="form-control">Votre adresse email :</label>
		<p>{{ user.email }}</p>
	</div>
</div>